@import "tailwindcss";
@import "tw-animate-css";
@import "./message.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9911 0 0);
  --foreground: oklch(0.252 0.0099 268.2851);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.252 0.0099 268.2851);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.252 0.0099 268.2851);
  --primary: oklch(0.252 0.0099 268.2851);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.8726 0.0059 264.5296);
  --secondary-foreground: oklch(0.252 0.0099 268.2851);
  --muted: oklch(0.8726 0.0059 264.5296);
  --muted-foreground: oklch(0.4386 0 0);
  --accent: oklch(0.8726 0.0059 264.5296);
  --accent-foreground: oklch(0.252 0.0099 268.2851);
  --destructive: oklch(0.629 0.1902 23.0704);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9189 0 0);
  --input: oklch(0.9401 0 0);
  --ring: oklch(0.8015 0 0);
  --chart-1: oklch(0.5811 0.21 260.8318);
  --chart-2: oklch(0.6733 0.2146 28.9103);
  --chart-3: oklch(0.7998 0.1706 72.7466);
  --chart-4: oklch(0.9189 0 0);
  --chart-5: oklch(0.559 0 0);
  --sidebar: oklch(0.9422 0.0075 260.7315);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0 0 0);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(1 0 0);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0 0 0);
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Source Code Pro, monospace;
  --font-special: Techna Sans, sans-serif;
  --radius: 1.25rem;
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow-md: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
  --shadow-lg: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
  --shadow-xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
}

.dark {
  --background: oklch(0.1785 0.0041 285.9807);
  --foreground: oklch(0.9791 0 0);
  --card: oklch(0.23 0.0099 268.2851);
  --card-foreground: oklch(0.9791 0 0);
  --popover: oklch(0.252 0.0099 268.2851);
  --popover-foreground: oklch(0.9791 0 0);
  --primary: oklch(0.9791 0 0);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.3219 0.0127 272.9943);
  --secondary-foreground: oklch(0.9791 0 0);
  --muted: oklch(0.3219 0.0127 272.9943);
  --muted-foreground: oklch(0.6993 0 0);
  --accent: oklch(0.3105 0.0146 274.4089);
  --accent-foreground: oklch(0.9791 0 0);
  --destructive: oklch(0.3 0.4 35);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(0.3105 0.0146 274.4089);
  --input: oklch(0.252 0.0099 268.2851);
  --ring: oklch(0.4508 0.0183 273.5297);
  --chart-1: oklch(0.5811 0.21 260.8318);
  --chart-2: oklch(0.6733 0.2146 28.9103);
  --chart-3: oklch(0.7998 0.1706 72.7466);
  --chart-4: oklch(0.4386 0 0);
  --chart-5: oklch(0.9189 0 0);
  --sidebar: oklch(0.23 0.0099 268.2851);
  --sidebar-foreground: oklch(0.9791 0 0);
  --sidebar-primary: oklch(0.9791 0 0);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.3105 0.0146 274.4089);
  --sidebar-accent-foreground: oklch(0.9791 0 0);
  --sidebar-border: oklch(0.3105 0.0146 274.4089);
  --sidebar-ring: oklch(0.7187 0 0);
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Source Code Pro, monospace;
  --font-special: Techna Sans, sans-serif;
  --radius: 1.25rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.18), 0 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.18), 0 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.18), 0 2px 4px -1px hsl(0 0% 0% / 0.18);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.18), 0 4px 6px -1px hsl(0 0% 0% / 0.18);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.18), 0 8px 10px -1px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.45);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --font-special: var(--font-special);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  body {
    background: var(--color-background);
    color: var(--color-foreground);
    font-size: var(--text-sm) /* 0.875rem = 14px */;
    line-height: var(--tw-leading, var(--text-sm--line-height) /* calc(1.25 / 0.875) ≈ 1.4286 */);
    letter-spacing: var(--tracking-normal);
  }

  *::selection {
    /* background-color: color-mix(in oklab, var(--primary) 20%, transparent); */
    background-color: #474747;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(230, 7%, 20%) transparent;
    border-color: var(--border);
  }

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: hsl(230, 7%, 20%);
    border-radius: 20px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: hsl(230, 7%, 30%);
  }
}

@utility font-special {
  font-family: var(--font-special);
}
